{% extends "layouts/base.html" %}

{% block content %}

<main>
	<aside>
		<p>
		Code by <a href="https://mxbry.com">Max</a><br>
		Dino facts by <a href="http://www.thedinosaurmuseum.com/dino-facts">thedinosaurmuseum.com</a>
		</p>
	</aside>
	<input type="text" placeholder="I want to know more about...">
	<hr>
	<ul>
		<li class="searchable">
			<h2>Longest Dinosaur</h2>
			<p>The longest dinosaur was Seismosaurus, which measured over 40 metres, as long as five double-decker buses. It was related to diplodocus, which for a long time held the honour.</p>
		</li>
		<li class="searchable">
			<h2>Smallest Dinosaur</h2>
			<p>The smallest fully-grown fossil dinosaur is the little bird-hipped plant-eater like lesothosaurus, which was only the size of a chicken. Smaller fossilised examples have been found, but these are of baby dinosaurs.</p>
		</li>
		<li class="searchable">
			<h2>Heaviest Dinosaur</h2>
			<p>The heaviest dinosaur was Brachiosaurus at 80 tonnes. It was the equivalent to 17 African Elephants. Brachiosaurus was 16m tall and 26m long and is the largest dinosaur skeleton to be mounted in a museum.</p>
		</li>
		<li class="searchable">
			<h2>Smallest Dinosaur Egg</h2>
			<p>Dinosaur eggs come in all shapes and sizes. They tend to be ovoid or spherical in shape and up to 30cm in length - about the size of a rugby ball. The smallest dinosaur egg so far found is only 3cm long. Once the egg has been fossilised it will become hard like rock, but it will retain a structure of its own.</p>
		</li>
		<li class="searchable">
			<h2>Most Brainy Dinosaur</h2>
			<p>One of the most intelligent dinosaurs was Troodon. It was a hunting dinosaur, about 2 metres long, and had a brain size similar to that of a mammal or bird of today, stereoscopic vision, and grasping hands.</p>
		</li>
		<li class="searchable">
			<h2>Dumbest Dinosaur</h2>
			<p>Stegosaurus had a brain the size of a walnut - only 3 centimetres long and weighing 75 grams. However, comparing brain size to body size sauropodomorphs, like Plateosaurus, were probably one of the dumbest dinosaurs.</p>
		</li>
		<li class="searchable">
			<h2>Tallest Dinosaur</h2>
			<p>The tallest dinosaurs were the Brachiosaurid group of sauropods. Their front legs were longer than the rear legs giving them a giraffe-like stance. This combined with their extremely long necks, which were held vertically, meant they could browse off the tallest trees. Brachiosaurus - the most well known of the group - was 13 metres tall. Sauroposeidon was massive and probably grew to 18.5 metres tall making it the tallest dinosaur.</p>
		</li>
		<li class="searchable">
			<h2>Fastest Running Dinosaur</h2>
			<p>The speediest dinosaurs were the ostrich mimic ornithomimids, such as Dromiceiomimus, which could probably run at speeds of up to 60 kilometres per hour.</p>
		</li>
		<li class="searchable">
			<h2>Oldest Dinosaur</h2>
			<p>The oldest dinosaurs known are 230 million years old, and have been found in Madagascar. As yet they have not been formally named. Before this Eoraptor, meaning "dawn thief" had held the title at 228 million years.</p>
		</li>
		<li class="searchable">
			<h2>Longest Dinosaur Name</h2>
			<p>The dinosaur with the longest name was Micropachycephalosaurus meaning "tiny thick-headed lizard". Its fossils have been found in China, and it was named in 1978 by the Chinese paleontologist Dong.</p>
		</li>
		<li class="searchable">
			<h2>Fiercest Dinosaur</h2>
			<p>Tyrannosaurus rex looked the most ferocious of all the dinosaurs, but in terms of overall cunning, determination and its array of vicious weapons it was Utahraptor that was probably the fiercest of all. Utahraptor measured about 7 metres, and was a very powerful, agile and intelligent predator.</p>
		</li>
		<li class="searchable">
			<h2>What killed the dinosaurs?</h2>
			<p>It is believed that dinosaur extinction was part of a mass extinction brought about by two massive destructive events. The first of these was the collision with the Earth of a meteorite landing in what is now the Yucatan Peninsula, of Mexico. This was followed by an enormous volcanic eruption which split what is now India in half.</p>
		</li>
	</ul>
</main>

{% endblock %}

{% block extrajs %}
<!-- Template specific <script> tags should go here -->
{% endblock %}